.transaction {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 40px;
}

.transaction th,
.transaction td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.72px;
}

.transaction thead th {
    font-weight: 600;
    background-color: rgb(38, 38, 38);
    color: #fff;
}

.transaction tbody tr:nth-child(even) {
    background-color: lightgray;
}